{% extends "sport_provider_dashboard/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Left Panel -->

        <div class="col-lg-9 left-panel">
            <!-- Header Card -->
            <div class="card fixed-card shadow-sm border-0 p-4 mb-2">
                <h5 class="text-success d-flex align-items-center">
                    <i class="fas fa-list me-2"></i> All Attendance Records
                </h5>
                <p class="text-dark">
                </p>
            </div>

            <!-- Employee Table -->
            <div class="next-table card shadow-sm border-0">
                <div class="table-responsive p-2">
                    <h6 class="text-dark d-flex align-items-center mb-3">
                        All Attendance Records
                    </h6>

                    {% if attendance_records %}
                    <table class="table">
                        <thead class="table-dark">
                           <tr>
                                    <th>#</th>
                                    <th>Worker</th>
                                    <th>Partner</th>
                                    <th>Provider</th>
                                    <th>Activity</th>
                                    <th>Date & Time</th>
                                </tr>
                        </thead>
                                 <tbody>
                        {% for record in attendance_records %}
                           <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ record.sport_work.first_name }} {{ record.sport_work.last_name }}</td>
                                    <td>{{ record.sport_partner.company_name }}</td>
                                    <td>{{ record.sport_provider.company_name }}</td>
                                    <td>{{ record.sport_activity.activity_name }}</td>
                                    <td>{{ record.activity_date }} {{ record.activity_time }}</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-info mt-4">
                        No attendance records
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Right Panel -->
        {% include 'sport_provider_dashboard/Right_Panel.html' %}
    </div>
</div>
{% endblock %}




