{% extends "halo_tech_dashboard/base_hala.html" %}

{% block content %}
      <!-- Scrollable Content with Cards -->
      <div class="scrollable-content">
        <div class="card">
          <i class="fas fa-star amazing-icon"></i>
          <h2>Card Title 1</h2>
          <p>This is a sample card with an amazing icon.</p>
        </div>
        <div class="card">
          <i class="fas fa-heart amazing-icon"></i>
          <h2>Card Title 2</h2>
          <p>This is another sample card with an amazing icon.</p>
        </div>
        </div>

{% endblock %}